[Unit]
Description=RClone Service
Wants=network-online.target
After=multi-user.target

[Service]
Type=simple
KillMode=none

ExecStartPre=/bin/mkdir -p /storage/videos/2/
ExecStart=/storage/.config/rclone/rclone mount users_library_2:movies /storage/videos/2/ --config /storage/.config/rclone/rclone.conf \
		--allow-other \
		--allow-non-empty \
		--dir-cache-time 72h \
		--buffer-size 64M \
		--drive-chunk-size 256M \
		--fast-list \
		--vfs-cache-mode writes \
		--vfs-cache-max-size 100M \
		--umask 002
ExecStop=/bin/fusermount -uz /storage/videos/2
Restart=on-abort

[Install]
WantedBy=multi-user.target
