[Unit]
Description=RClone Service
Wants=network-online.target
After=multi-user.target

[Service]
Type=simple
KillMode=none

ExecStartPre=/bin/mkdir -p /storage/videos/2/
ExecStart=/storage/.config/rclone/rclone mount users_library_2:movies /storage/videos/2/ --config /storage/.config/rclone/rclone.conf \
		--allow-other \
		--allow-non-empty \
		--vfs-cache-mode writes
ExecStop=/bin/fusermount -uz /storage/videos/2
Restart=on-abort

[Install]
WantedBy=multi-user.target
