[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
KillMode=none

ExecStartPre=/bin/mkdir -p /storage/videos/2/
ExecStart=/storage/.config/rclone/rclone mount library:2/movies /storage/videos/2/ --config /storage/.config/rclone/rclone.conf \
		--allow-non-empty \
		--vfs-cache-mode writes \
		--allow-other
ExecStop=/bin/fusermount -uz /storage/videos/2
Restart=on-abort

[Install]
WantedBy=multi-user.target
