[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
KillMode=none

ExecStartPre=/bin/mkdir -p /storage/tvshows/1/
ExecStart=/storage/.config/rclone/rclone mount library:1/tvshows /storage/tvshows/1/ --config /storage/.config/rclone/rclone.conf \
		--allow-non-empty \
		--vfs-cache-mode writes \
		--allow-other
ExecStop=/bin/fusermount -uz /storage/tvshows/1/
Restart=on-abort

[Install]
WantedBy=multi-user.target
