[Unit]
Description=rclone (tvshows_1) ULTRA-LIGERA
Wants=network-online.target
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=root
Group=root

LimitNOFILE=65535
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=20

# Preparación
ExecStartPre=/bin/mkdir -p /storage/tvshows/1
ExecStartPre=/bin/sh -c 'mountpoint -q /storage/tvshows/1 && /bin/fusermount -uz /storage/tvshows/1 || true'

# Montaje
ExecStart=/storage/.config/rclone/rclone mount users_library_1:tvshows /storage/tvshows/1 \
  --config /storage/.config/rclone/rclone.conf \
  --read-only \
  --vfs-cache-mode off \
  --vfs-read-chunk-size 4M \
  --vfs-read-chunk-size-limit 64M \
  --buffer-size 4M \
  --umask 002
  
# Parada limpia
ExecStop=/bin/sh -c 'mountpoint -q /storage/tvshows/1 && /bin/fusermount -uz /storage/tvshows/1 || true'
ExecStopPost=/bin/sh -c 'rmdir /storage/tvshows/1 || true'

# Robustez
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
