[Unit]
Description=rclone (tvshows_1) OneDrive MULTI-CLIENTE
Wants=network-online.target
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=root
Group=root

LimitNOFILE=65535
KillMode=mixed
KillSignal=SIGINT
TimeoutStopSec=30

ExecStartPre=/bin/mkdir -p /storage/.mnt/tvshows/1
ExecStartPre=/bin/mkdir -p /storage/.cache/rclone
ExecStartPre=/bin/sh -c 'mountpoint -q /storage/.mnt/tvshows/1 && /bin/fusermount -uz /storage/.mnt/tvshows/1 || true'

ExecStart=/storage/.config/rclone/rclone mount users_library_1:tvshows /storage/.mnt/tvshows/1 \
  --config /storage/.config/rclone/rclone.conf \
  --read-only \
  --allow-other \
  --umask 002 \
  --dir-cache-time 30m \
  --attr-timeout 1m \
  --vfs-cache-mode off \
  --vfs-read-chunk-size 16M \
  --vfs-read-chunk-size-limit 256M \
  --buffer-size 16M \
  --transfers 1 \
  --checkers 1 \
  --tpslimit 4 \
  --tpslimit-burst 4 \
  --timeout 1m \
  --contimeout 20s \
  --low-level-retries 10 \
  --retries 10 \
  --retries-sleep 5s \
  --log-level INFO \
  --log-file /storage/.kodi/temp/rclone_tvshows_1.log

ExecStop=/bin/sh -c 'mountpoint -q /storage/.mnt/tvshows/1 && /bin/fusermount -uz /storage/.mnt/tvshows/1 || true'

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

